<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | absolute_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="topnav">
        <a href="#gallery">Gallery</a>
        <a href="#the-stack">Stack</a>
        <a href="#cheat-sheet">Keybinds</a>
        <a href="#custom-scripts">Scripts</a>
        <a href="#installation-guide">Install</a>
        <a href="https://github.com/gab-dev-7/dotfiles" class="topnav-source">Source &nearr;</a>
    </nav>

    <div class="container">
        {{ content }}

        <footer>
            <p>Designed for Arch Linux &amp; Hyprland.</p>
        </footer>
    </div>
</body>
</html>
